__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
work/
.pixi/
.env
*.DAT
*.dat
*.SON
*.son
*.IDX
*.idx
*.rar
*.tif
*.tiff
*.sqlite*
**/objects-ai.json
**/sonar-projects/
**/logs/
**/*.onnx

*.exe
*.dpapi
*.pdf
*.png
**/Documentacao-Privada*/
**/findings-images/
**/dataset/
**/bathymetry-edits.json

*.exe
*.dpapi
*.pdf
*.png
**/Documentacao-Privada*/
**/findings-images/
**/dataset/
**/bathymetry-edits.json
*.ttf
